.imoveis-linha
{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #e2e2e2;
}

.imoveis-linha hr
{
    margin-top: 10px;
    float: left;
}

.imoveis-linha .imovel
{
    overflow: hidden;
}

.imoveis-linha figure
{
    width: 110%;
    height: 230px;
}

.imoveis-linha figure img
{
    height: 230px;
}

.imoveis-linha figure figcaption
{
    background-color: rgba(27, 55, 77, 0.82);
    position: absolute;
    width: 100%;
    margin-top: -80px;
    height: 80px;
}

.imoveis-linha figure figcaption p
{
    color: #fff;
    font-size: 11px;
}

.imoveis-linha figure figcaption:last-child
{
    padding-top: 15px;
}

.imoveis-linha figure figcaption h4
{
    padding-left: 10px;
}

.imoveis-linha figure figcaption h4,
.imoveis-linha figure figcaption h4 small
{
    color: #fff;
    font-style: italic;
    font-size: 12px;
}

.imoveis-linha > .container .col-md-12
{
    margin-bottom: 25px;
}

.imoveis-linha .owl-imoveis-linha .owl-item
{
    margin-right: 8px;
}

.imoveis-linha hr
{
    width: 7%;
    border-top: 3px solid #0a2444;
}