.imoveis-destaques
{
    padding-top: 50px;
    margin-bottom: 70px;
}

.banner-container .owl-controls
{
    display: none !important;
}

.imoveis-destaques hr
{
    width: 7%;
    border-top: 3px solid #0a2444;
}

.imoveis-destaques .container
{
    margin-top: 30px;
    height: 535px;
}

.imoveis-destaques .imovel-unico figcaption .row,
.imoveis-destaques .imovel-dividido figcaption .row
{
    background-color: rgba(27, 55, 77, 0.82);
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.imoveis-destaques .imovel-unico figcaption
{
    margin-top: -85px;
}

.imoveis-destaques .imovel-unico figcaption h4,
.imoveis-destaques .imovel-dividido figcaption h4
{
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
}

.imoveis-destaques .imovel-unico img
{
    height: 535px;
    width: 110%;
    margin-left: -40px;
}

.imoveis-destaques .imovel-unico,
.imoveis-destaques .imovel-dividido
{
    overflow: hidden;
    color: #fff;
    font-style: italic;
}

.imoveis-destaques .imovel-dividido img
{
    margin-bottom: 30px;
}

.imoveis-destaques .imovel-dividido img
{
    height: 300px;
    width: 110%;
}

.imoveis-destaques .imovel-dividido figcaption
{
    margin-top: -150px;
}

.imoveis-destaques .imovel-dividido
{
    height: 265px;
    padding-left: 10px;
    padding-right: 0px;
    margin-bottom: 5px;
}

.banner-container .item
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    padding-top: 430px;
}

.banner-container .item .banner-imovel-container
{
    width: 410px;
    background-color: #521512;
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 1px;
    padding-bottom: 0px;
    -webkit-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.75);
    opacity: 0.92;
}

.banner-container .row
{
    display: flex;
    align-items: center;
}

.banner-container .item h2
{
    color: #e3cc6c;
    font-size: 23px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.banner-container .item p
{
    color: #fff;
}

.banner-container span
{
    font-size: 60px;
    border-left: 1px solid #e3cc6c;
    color: #e3cc6c;
}
