<table width="500" border="0" cellspacing="0" cellpadding="0" align="center" >
    <tbody>
    <tr>
        <td align="center" style="line-height:15px; padding-top:20px;">
            <i>Seu login: <strong>$cliente_email$</strong></i>
        </td>
    </tr>
    </tbody>
</table>