.rodape {
background-repeat: repeat-x;
padding-bottom: 40px;
padding-top: 65px;
}

.rodape .info-imobiliaria
{
color: #fff;
}

.rodape img
{
height: 150px;
}

.direitos-simples
{
padding-top: 14px;
padding-bottom: 5px;
font-size: 10px;
}

.rodape-tipos
{
line-height: 10px;
}

.rodape-tipos p a
{
color: #fff;
}

.rodape-creci,
.rodape-tipos
{
font-size: 12px;
}