.menu-superior,
.rodape
{
    background-color: #521512 !important;
}

.menu-superior
{
    text-align: right;
}

.menu-superior,
.menu-superior a
{
    color: #fff;
}

.menu-superior a
{
    padding-right: 10px;
}

.menu-imovel
{
    background: #b0251e !important;
}

.menu-imovel div
{
    //height: 53px !important;
}

.menu-imovel div.menu-items:nth-child(2) ul li
{
    padding-top: 0px !important;
}

.menu-imovel div.menu-items:nth-child(2) ul li a
{
    font-size: 13px !important;
}

#menu-filtro,
.menu-imovel .menu-items img
{
    z-index: 2;
}

#menu-filtro
{
    position: absolute;
    margin-top: 46px;
    padding-left: 250px;
    background: linear-gradient(90deg, #ccc 300px, transparent 0%);
    max-width: 1330px;
}

#menu-filtro > div
{
    background-color: #ccc;
}

.menu-imovel div.menu-items:not(:last-child)
{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.menu-imovel div:nth-child(2) ul
{
    padding-top: 8px !important;
}

.menu-imovel .menu-items img
{
    position: absolute;
    top: -36px;
    left: -90px;
    height: 234px;
}

#menu-filtro .input button.btn.dropdown-toggle.btn-default,
#menu-filtro .input > input.form-control
{
    height: 30px;
    padding-top: 4px;
    font-size: 12px;
}

#menu-filtro .input input[name=codigo]
{
    background-color: transparent;
    border: 1px solid #afafaf;
}

#menu-filtro .input
{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-right: 0px;
    padding-left: 10px;
}

#menu-filtro .btn-buscar-filtro
{
    font-size: 28px;
    padding-bottom: 2px;
    padding-top: 8px;
    background: linear-gradient(134deg, #cccccc 0%,#cccccc 50%,transparent 51%,transparent 100%);
}



#menu-filtro .btn-buscar-filtro a
{
    color: #cc1c1c;
}

.rodape
{
    background-image: none !important;
    margin-top: 25px;
}

.rodape h3
{
    margin-top: 0px;
}

.mapa-contato > div:first-of-type
{
    margin-bottom: 50px;
    position: relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.mapa-contato .mapa
{
    height: 500px;
}

.mapa-contato .mapa:before, .mapa-contato .mapa:after
{
    content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    border-radius: 0px / 10px;
}

.mapa-contato .mapa:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    right: 10px;
    left: auto;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    transform: rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}


.mapa-contato .contato
{
    margin-top: 40px;
}

.mapa-contato h3
{
    font-size: 18px !important;
}

.mapa-contato p
{
    font-size: 13px !important;
}

/*HOME*/
.imovel-destaque-maior .descricao hr,
.imoveis-similares h2 > hr
{
    border-top: 3px solid #d43131;
    width: 25%;
}

.imoveis-similares h2 > hr
{
    float: left;
    width: 15%;
}

.imovel-destaque-maior .descricao hr
{
    float: right;
}

.imovel-destaque-maior .descricao h2,
.imovel-destaque-maior .descricao p
{
    padding-right: 5px;
}

.imovel-destaque-maior .descricao h2
{
    margin-top: 60px;
    font-size: 35px;
}

.imovel-destaque-maior .descricao h3
{
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
}

.imovel-destaque-maior .descricao
{
    background-color: #313131;
    color: #fff;
    text-align: right;
}

.imovel-destaque-maior .foto .row
{
    background-color: white;
}

.msg-bem-vindo
{
    font-style: italic;
}

.msg-bem-vindo h3
{

}

.msg-bem-vindo .col-md-8 p
{
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-right: 2px solid #690000;
    padding-right: 20px;
    text-align: right;
}

.banner-container
{
    height: 600px;
    overflow: hidden;
    -webkit-box-shadow: -1px 9px 19px -4px rgba(0,0,0,0.72);
    -moz-box-shadow: -1px 9px 19px -4px rgba(0,0,0,0.72);
    box-shadow: -1px 9px 19px -4px rgba(0,0,0,0.72);
    margin-bottom: 15px;
}

.banner-container img
{
    top: -150px;
    position: relative;
}

.imovel
{
    text-align: right;
    font-style: italic;
    font-size: 13px;
}

.imovel h3.tipo-imovel
{
    color: #ccac07;
    font-weight: 700;
}

.imovel .img-imovel
{
    height: 200px;
    background-size: cover;
    background-position: center
}


.imovel p.descricao
{
    margin-top: 20px;
    color: #2a2a2a;
    font-weight: 600;
    border-left: 1px solid #690000;
    padding-left: 10px;
    padding-bottom: 10px;
}

.imovel p.valor-imovel
{
    font-size: 25px;
    font-weight: 600;
}

.imovel p.valor-imovel,
.imovel p.descricao
{
    color: #2a2a2a;
}

.imovel p.valor i.glyphicon-triangle-right
{
    color: #690000;
}

.imovel img
{
    max-height: 250px;
    min-height: 250px;
    width: 100%;
}

.imovel p.descricao
{
    height: 85px;
    overflow: hidden;
    font-size: 12px;
}

.imovel span.finalidade,
.condominio span.finalidade
{
    position: absolute;
    left: 20px;
    top: 15px;
    z-index: 1;
    background-color: black;
    padding: 4px 5px;
    color: #fff;
    font-size: 11px;
    font-style: normal;
}

.imoveis-similares .imovel span.finalidade,
.condominio span.finalidade
{
    left: 30px;
}


#modal-dados .btn-salvar,
#modal-login-cadastro .btn-success
{
    background-color: #610000;
    border-color: #610000;
    color: #fff;
}

.fab-whatsapp,
#modal-contato-interesse .modal-body form .btn-enviar
{
    background-color: #610000;
}

.modal-content
{
    border-radius: 0;
}

.quem-somos
{
    padding-top: 100px !important;
}

.menu-fixo
{
    position: fixed;
    z-index: 5;
    width: 100%;
}

.menu-fixo.menu-imovel
{
    top: 35px;
}

/* REMOVE OS CONDOMÍNIOS QUE NÃO SÃO DA CIDADE SELECIONADA */
.bootstrap-select.btn-group .dropdown-menu li.disabled a
{
    display: none;
}

body
{
    font-family: 'Open Sans', sans-serif;
}

.form-control,
button.btn
{
    border-radius: 0px;
    font-style: italic;
}

button.btn-info
{
    background-color: #174f7b;
    border: none;
}

.imovel-cabecalho,
.lancamento-cabecalho
{
    font-style: italic;
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 0%, rgba(228, 228, 228,1) 50%, rgba(216, 216, 216,1) 51%, rgba(254,254,254,1) 100%);
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 0%, rgba(228, 228, 228,1) 50%, rgba(216, 216, 216,1) 51%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 0%, rgba(228, 228, 228,1) 50%, rgba(216, 216, 216,1) 51%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 0%, rgba(228, 228, 228,1) 50%, rgba(216, 216, 216,1) 51%, rgba(254,254,254,1) 100%);
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 0%, rgb(228, 228, 228) 50%, rgb(216, 216, 216) 51%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-shadow: -1px 7px 23px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: -1px 7px 23px 0px rgba(0,0,0,0.52);
    box-shadow: -1px 7px 23px 0px rgba(0, 0, 0, 0.52);
    margin-bottom: 25px;
}

.imovel-cabecalho h1,
.lancamento-cabecalho h3
{
    font-weight: 700;
    margin-top: 0px;
}

.imovel-cabecalho h1
{
    font-size: 27px;
}

.lancamento-cabecalho h3
{
    font-size: 18px;
}

#pagination
{
    margin-bottom: 60px;
    margin-top: 25px;
}