.condominios-apresentacao-rodape
{
    padding-bottom: 40px;
}

.condominios-apresentacao-rodape .condominios
{
    background-color: #f1f1f1;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.condominios-apresentacao-rodape .texto
{
    margin-top: 20px;
    padding-right: 35px;
}

.owl-condominios-apresentacao-rodape
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.owl-condominios-apresentacao-rodape .owl-controls
{
    display: none;
}

.owl-condominios-apresentacao-rodape .item .imagem
{
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #fff;
}
@media(min-width:330px) and (max-width: 768px)
{
    .owl-condominios-apresentacao-rodape .item .imagem
    {
        height: 200px;
    }

    .select-condominios
    {
        margin-bottom: 10px;
    }
}