body
{
    font-family: 'Open Sans', sans-serif;
}

.form-control,
button.btn
{
    border-radius: 0px;
    font-style: italic;
}

button.btn-info
{
    background-color: #174f7b;
    border: none;
}

.imovel-cabecalho,
.lancamento-cabecalho
{
    font-style: italic;
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 0%, rgba(228, 228, 228,1) 50%, rgba(216, 216, 216,1) 51%, rgba(254,254,254,1) 100%);
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 0%, rgba(228, 228, 228,1) 50%, rgba(216, 216, 216,1) 51%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 0%, rgba(228, 228, 228,1) 50%, rgba(216, 216, 216,1) 51%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 0%, rgba(228, 228, 228,1) 50%, rgba(216, 216, 216,1) 51%, rgba(254,254,254,1) 100%);
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 0%, rgb(228, 228, 228) 50%, rgb(216, 216, 216) 51%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-shadow: -1px 7px 23px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: -1px 7px 23px 0px rgba(0,0,0,0.52);
    box-shadow: -1px 7px 23px 0px rgba(0, 0, 0, 0.52);
    margin-bottom: 25px;
}

.imovel-cabecalho h1,
.lancamento-cabecalho h3
{
    font-weight: 700;
    margin-top: 0px;
}

.imovel-cabecalho h1
{
    font-size: 27px;
}

.lancamento-cabecalho h3
{
    font-size: 18px;
}

#pagination
{
    margin-bottom: 60px;
    margin-top: 25px;
}