.filtro-imovel
{
    background: linear-gradient(90deg, #135e7f 291px, #0a2444 30%);
}

.filtro-imovel > .container > .col-md-3 > h2
{
    color: #fff;
    font-style: italic;
}

.filtro-imovel .form-filtro
{
    background-color: #0a2444;
    padding-top: 30px;
    padding-bottom: 30px;
}

.filtro-imovel .form-filtro .bootstrap-select
{
    width: 100% !important;
}

.filtro-imovel .form-filtro button.dropdown-toggle,
.filtro-imovel .form-filtro button.btn-lg,
.filtro-imovel .form-filtro input.form-control
{
    border-radius: 0px;
    font-style: italic;
}

.filtro-imovel .form-filtro button.dropdown-toggle
{
    border: #FFF solid 1px;
    background-color: transparent;
    color: #fff;
    padding: 12px;
}

.filtro-imovel .form-filtro input.form-control
{
    background-color: transparent;
    height: 46px;
    border-color: #fff;
}

.filtro-imovel .form-filtro button.btn-lg
{
    width: 100%;
    margin-top: 20px;
    background-color: #174f7b;
    border: none;
}

.form-filtro .slider.slider-horizontal .slider-track .slider-track-low,
.form-filtro .slider.slider-horizontal .slider-track .slider-selection,
.form-filtro .slider.slider-horizontal .slider-track .slider-track-high,
.form-filtro .slider.slider-horizontal .slider-handle
{
    background-image: linear-gradient(to bottom, #106892 0%, #2b7296 100%);
    background-image: -webkit-linear-gradient(top, #106892 0%, #2b7296 100%);
    background-image: -o-linear-gradient(top, #106892 0%, #2b7296 100%);
}

.form-filtro .slider.slider-horizontal .slider-handle
{
    margin-top: -5px;
    width: 15px;
    height: 15px;
}

.form-filtro .slider.slider-horizontal .slider-tick-label-container
{
    margin-top: -6px;
    color: #fff;
}

.form-filtro .slider.slider-horizontal .slider-tick-label-container .slider-tick-label:first-child
{
    float: left;
}

.form-filtro .slider.slider-horizontal .slider-tick-label-container .slider-tick-label:last-child
{
    float: right;
}

.form-filtro .slider.slider-horizontal .slider-track
{
    height: 5px;
    margin-top: 28px;
}

.filtro-imovel .filtro-rapido ul li
{
    display: inline;
    margin-right: 20px;
}

.filtro-imovel .filtro-rapido
{
    padding-top: 25px;
    padding-bottom: 15px;
    background-color: #e2e2e2;
    border-radius: 0px;
    border: none;
}

.filtro-imovel .filtro-rapido ul li button
{
    background-color: #0a2444;
    color: #fff;
    padding: 10px 15px;
    border: none;
    font-style: italic;
    font-size: 13px;
}