body
{
    font-family: 'Open Sans', sans-serif;
}

/* CONFIG PLUGINS */
.alertify-logs
{
    z-index: 99999 !important;
}

/* HELPERS */
.no-padding
{
    padding: 0px !important;
}

.no-padding-left
{
    padding-left: 0px !important;
}

.no-padding-right
{
    padding-right: 0px !important;
}

.p-l-xxs
{
    padding-left: 5px !important;
}

.p-l-sm
{
    padding-left: 10px !important;
}

.m-t-xxs
{
    margin-top: 5px !important;
}

.m-t-sm
{
    margin-top: 10px !important;
}

.m-t-md
{
    margin-top: 15px !important;
}

.m-t-lg
{
    margin-top: 20px !important;
}

.m-t-xlg
{
    margin-top: 25px !important;
}

.m-b-xxs
{
    margin-bottom: 5px !important;
}

.m-b-sm
{
    margin-bottom: 10px !important;
}

.m-b-md
{
    margin-bottom: 15px !important;
}

.m-b-lg
{
    margin-bottom: 20px !important;
}

.m-b-xlg
{
    margin-bottom: 25px !important;
}

.usuario-deslogado
{
    display: none!important;
}

/* RIBBON */
.ribbon
{
    position: absolute;
    left: 10px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span
{
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    position: absolute;
    top: 19px;
    left: -21px;
}

.ribbon span::before
{
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
}

.ribbon span::after
{
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
}

.ribbon.temporada span
{
    background-color: #244462;
}

.ribbon.temporada span::after
{

    border-left: 3px solid transparent;
    border-right: 3px solid #244462;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #244462;
}

.ribbon.temporada span::before
{
    border-left: 3px solid #244462;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #244462;
}


.ribbon.aluguel span
{
    background-color: #008280!important;
}

.ribbon.aluguel span::after
{
    border-left: 3px solid transparent;
    border-right: 3px solid #008280;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #008280;
}

.ribbon.aluguel span::before
{
    border-left: 3px solid #008280;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #008280;
}

.ribbon.venda span
{
    background-color: darkgray!important;
}

.ribbon.venda span::before
{
    border-left: 3px solid darkgrey;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid darkgrey;
}

.ribbon.venda span::after
{
    border-left: 3px solid transparent;
    border-right: 3px solid darkgrey;
    border-bottom: 3px solid transparent;
    border-top: 3px solid darkgrey;
}

.ribbon.temporada span,
.ribbon.venda span,
.ribbon.aluguel span,
.ribbon.lancamento span
{
    color: #FFF;
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
}

.ribbon.lancamento span
{
    background-color: black;
}

.ribbon.lancamento span::after
{

    border-left: 3px solid transparent;
    border-right: 3px solid black;
    border-bottom: 3px solid transparent;
    border-top: 3px solid black;
}

.ribbon.lancamento span::before
{
    border-left: 3px solid black;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid black;
}

/* LG */
@media (min-width: 1200px)
{
    .padding-right-lg
    {
        padding-right: 15px;
    }

    .no-padding-right-lg
    {
        padding-right: 0px;
    }

    .padding-left-lg
    {
        padding-left: 15px;
    }

    .no-padding-left-lg
    {
        padding-left: 0px;
    }

    .no-padding-lg
    {
        padding: 0px;
    }
}

/* MD */
@media (min-width: 992px)
{
    .padding-right-md
    {
        padding-right: 15px;
    }

    .no-padding-right-md
    {
        padding-right: 0px;
    }

    .padding-left-md
    {
        padding-left: 15px;
    }

    .no-padding-left-md
    {
        padding-left: 0px;
    }

    .no-padding-md
    {
        padding: 0px;
    }
}

/* SM */
@media (min-width: 768px)
{
    .padding-right-sm
    {
        padding-right: 15px;
    }

    .no-padding-right-sm
    {
        padding-right: 0px;
    }

    .padding-left-sm
    {
        padding-left: 15px;
    }

    .no-padding-left-sm
    {
        padding-left: 0px;
    }

    .no-padding-sm
    {
        padding: 0px;
    }
}

/* XS */
@media (max-width: 768px)
{
    .padding-right-xs
    {
        padding-right: 10px;
    }

    .no-padding-right-xs
    {
        padding-right: 0px;
    }

    .padding-left-xs
    {
        padding-left: 10px;
    }

    .no-padding-left-xs
    {
        padding-left: 0px;
    }

    .no-padding-xs
    {
        padding: 0px;
    }
}

/* STYLE MODALS */
.modal .modal-content,
.modal .modal-content form .form-control,
.modal .modal-content button,
.modal .modal-content a
{
    border-radius: 0!important;
}

#simples-modal-iframe
{
    padding-top: 20vh;
}

#simples-modal-iframe .modal-header
{
    border-bottom: none;
}

#simples-modal-iframe iframe > body
{
    background-color: transparent;
}

#modal-dados .corretor .dados-corretor
{
    line-height: 15px;
}

#modal-dados .corretor .corretor-foto
{
    height: 110px;
}

#modal-dados .btn-salvar,
#modal-login-cadastro .btn-success
{
    background-color: #008280;
    border-color: #008280;
}

#modal-login-cadastro .modal-header
{
    border-bottom: none;
}

#modal-login-cadastro .modal-body
{
    padding-top: 0px;
}

#modal-login-cadastro .modal-body .lado-cadastro
{
    border-left: 1px solid #ececec;
}

#modal-login-cadastro .login-redes-sociais-container .divisoria-login-redes-sociais hr,
#modal-contato-interesse .login-redes-sociais-container .divisoria-login-redes-sociais hr
{
    margin-top: 8px;
}

#modal-login-cadastro .login-redes-sociais-container .divisoria-login-redes-sociais span,
#modal-contato-interesse .login-redes-sociais-container .divisoria-login-redes-sociais span
{
    margin-top: -2px;
    display: block;
}

#modal-login-cadastro .login-redes-sociais-container button.btn-login-facebook,
#modal-login-cadastro .login-redes-sociais-container button.btn-login-google,
#modal-contato-interesse .login-redes-sociais-container button.btn-login-facebook,
#modal-contato-interesse .login-redes-sociais-container button.btn-login-google
{
    color: #fff;
    font-size: 13px;
}


#modal-contato-interesse .login-redes-sociais-container button.btn-login-facebook,
#modal-contato-interesse .login-redes-sociais-container button.btn-login-google
{
    font-size: 12px;
    padding: 6px 8px;
    margin-top: 4px;
}

#modal-login-cadastro .login-redes-sociais-container button.btn-login-facebook,
#modal-contato-interesse .login-redes-sociais-container button.btn-login-facebook
{
    background-color: #3b5998;
}

#modal-login-cadastro .login-redes-sociais-container button.btn-login-google,
#modal-contato-interesse .login-redes-sociais-container button.btn-login-google
{
    background-color: #dc4e41;
}

#modal-login-cadastro .login-redes-sociais-container button.btn-login-facebook i.fa,
#modal-login-cadastro .login-redes-sociais-container button.btn-login-google i.fa,
#modal-contato-interesse .login-redes-sociais-container button.btn-login-facebook i.fa,
#modal-contato-interesse .login-redes-sociais-container button.btn-login-google i.fa
{
    float: left;
    margin-top: 3px;
    width: 15px;
}

#modal-contato-interesse .login-redes-sociais-container button.btn-login-facebook i.fa,
#modal-contato-interesse .login-redes-sociais-container button.btn-login-google i.fa
{
    width: 12px;
}

#modal-login-cadastro .login-redes-sociais-container button.btn-login-facebook i.fa:after,
#modal-login-cadastro .login-redes-sociais-container button.btn-login-google i.fa:after
{
    content: '|';
    position: absolute;
    margin-top: -8px;
    color: #ffffff17;
    font-size: 25px;
    font-weight: 100;
    left: 50px;
}

#modal-login-cadastro #form-login label.error,
#modal-login-cadastro #form-cadastrar label.error
{
    position: absolute;
    left: 13px;
    margin-top: 8px;
    color: #af0000;
    z-index: 2;
    font-weight: 600;
}

#modal-login-cadastro #form-cadastrar label.error
{
    top: 0px;
    right: 25px;
    left: auto;
    text-align: right;
}

#modal-login-cadastro #form-login label.error[for="email"]
{
    right: 0px;
    left: auto;
    margin-top: -20px;
}

#modal-contato-interesse .modal-body
{
    float: left;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    background: linear-gradient(to right, #f7f7f7 0%, #f7f7f7 33.33333333%, #ffffff 33.33333333%, #ffffff 100%);
}

#modal-contato-interesse .modal-body:after
{
    content: attr(data-rodape-informacao);
    position: absolute;
    background-color: #ececec;
    left: 0;
    right: 0;
    padding: 4px 10px;
    font-size: 11px;
    color: #616161;
}

#modal-contato-interesse .modal-body .close
{
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 1;
}

#modal-contato-interesse .modal-body form .form-control
{
    font-size: 13px;
}

#modal-contato-interesse .modal-body form .btn-enviar
{
    background-color: #008280;
    color: #fff;
}

#modal-contato-interesse .modal-body form .btn-enviar i.fa
{
    position: absolute;
    left: 25px;
    margin-top: 3px;
}

#modal-contato-interesse .modal-body form .btn-enviar i.fa:after
{
    content: '|';
    position: absolute;
    margin-top: -8px;
    color: #ffffff17;
    font-size: 25px;
    font-weight: 100;
    left: 25px;
}

#modal-contato-interesse .modal-body h4
{
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 15px;
}

#modal-contato-interesse .modal-body b
{
    font-weight: 600;
    font-size: 13px;
}

#modal-contato-interesse .modal-body .explicacao
{
    padding-left: 15px;
    padding-right: 15px;
}

#modal-contato-interesse .modal-body .explicacao p
{
    font-size: 1.1rem;
    font-style: italic;
    text-align: justify;
    color: #696969;
}

#modal-contato-interesse .modal-body .explicacao b
{
    font-size: 1.15rem;
    font-weight: 700;
    color: #3c3c3c;
}

#modal-contato-interesse .modal-body .explicacao hr
{
    margin-top: 15px;
    margin-bottom: 10px;
}

#modal-contato-interesse .modal-body .explicacao .contatos
{
    margin-bottom: 15px;
}

#modal-contato-interesse .modal-body .explicacao .contatos p.telefones
{
    text-align: right;
}

#modal-contato-interesse .modal-body .explicacao .contatos p.telefones a
{
    font-style: normal;
    font-size: 1.136rem;
}

#modal-contato-interesse .modal-body .explicacao .contatos p.telefones a:not(:last-of-type):after
{
    content: ' |';
    color: #000;
}

#modal-contato-interesse .modal-body .explicacao .redes-sociais
{
    text-align: center;
}

#modal-contato-interesse .modal-body .explicacao .redes-sociais a
{
    color: #c1c1c1;
    font-size: 17px;
}

#modal-contato-interesse .modal-body .explicacao .redes-sociais a:hover
{
    text-decoration: none;
}

#modal-contato-interesse .modal-body .explicacao .redes-sociais a:hover i.fa-facebook
{
    color: #3d63a4;
}

#modal-contato-interesse .modal-body .explicacao .redes-sociais a:hover i.fa-whatsapp
{
    color: #09c060;
}

#modal-contato-interesse .modal-body .explicacao .redes-sociais a:hover i.fa-twitter
{
    color: #1b8ec2;
}

#modal-contato-interesse .modal-body .explicacao .redes-sociais a:hover i.fa-instagram
{
    color: #ff3a49
}

@media(max-width: 768px)
{
    #modal-contato-interesse .modal-body
    {
        background: #fff;
    }
}

/* ICON BANHEIRO */
.fa-toilet:before
{
    content: '';
    background-image: url(/modules/simples/assets/images/toilet.svg);
    background-size: cover;
    height: 25px;
    width: 25px;
    position: absolute;
    margin-left: -11px;
}

/* FAB WHATSAPP */
.fab-whatsapp
{
    width: 60px;
    height: 60px;
    background-color: #09c060;
    color: #fff;
    display: block;
    text-align: center;
    font-size: 26px;
    line-height: 58px;
    border-radius: 50%;
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 10;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    box-shadow: 0px 5px 10px 1px #bdbdbd;
}

.fab-whatsapp:hover,
.fab-whatsapp:focus,
.fab-whatsapp > button:hover,
.fab-whatsapp > button:focus,
.fab-whatsapp > button:active,
.fab-whatsapp > button:active:hover,
.fab-whatsapp.open>.dropdown-toggle.btn-default:hover
{
    color: #fff;
    background-color: #09a854;
    box-shadow: 0px 5px 10px 1px #979797;
    outline: none;
}

.fab-whatsapp > button
{
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #fff;
    font-size: 26px;
    border-radius: 50%;
    border: none;
}

.fab-whatsapp > ul
{
    padding-top: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    left: auto;
    right: 0;
}

.fab-whatsapp > ul li:first-of-type
{
    color: #f5f5f5;
    background-color: #008280;
    margin-bottom: 5px;
    padding-left: 20px;
}

.fab-whatsapp > ul li a
{
    padding: 3px 15px;
}

.fab-whatsapp > ul li a b
{
    font-weight: 600;
}