.condominios
{
    padding-top: 30px;
    margin-bottom: 30px;
}

.condominios .condominio
{
    border: 1px solid #e2e2e2;
    margin-bottom: 30px;
}

.condominios .condominio h3
{
    padding-left: 15px;
    color: black;
    font-style: italic;
    text-align: center;
}

.condominios .condominio img
{
    height: 250px;
}