.imovel img
{
    height: 300px;
    width: 100%;
}

.imovel span.finalidade
{
    left: 30px;
}

.imoveis
{
    margin-top: 50px;
}

.btn-procurar
{
    border-radius: 0px;
    padding: 19px 7px;
    font-style: italic;
    background-color: #610000;
    border: none;
}

#filtro-imovel > div.row > div
{
    margin-bottom: 10px;
}

.resultado-pesquisa
{
    float: left;
    width: 100%;
}

@media(min-width:330px) and (max-width: 768px)
{

    .btn-procurar
    {
        width: 100%;
    }

    .ordenar
    {
        margin-bottom: 10px;
    }
}